{{ define "main" }}

<article class="container" id="skip-header-target">

    <div class="row">

    <div class="col-md-10 mx-auto mt-4 mb-2">

        <h1 id="pageTitle"><i class="fas fa-chart-line" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title}}</h1>
        {{ .Content }}

        <div class="row">
            <div class="col-md-4 p-2 pl-0">
                <p class="sm-label">Select a topic to view data:</p>
                 {{ partial "de-chooser-accordion.html" . }}
     
             </div>

             <div class="col-md-8">
                <div class="row my-4">
                    <div class="col-12 mb-2">
                        <p><strong class="text-primary"><i class="fas fa-bullseye mr-1"></i>Featured datasets:</strong>
                        </p>
                    </div>

                    <div class="col-4">
                        <div class="card de-card borderbox fs-sm">
                            <div class="card-body mx-1">
                                <span class="card-title text-primary"><a href="air-quality/?id=2023">Air quality: PM2.5</a></span>
                              </div>
                          </div>
                    </div>


                    <div class="col-4">
                        <div class="card de-card borderbox fs-sm">
                            <div class="card-body mx-1">
                                <span class="card-title text-primary"><a href="housing-stability/?id=2365">Evictions</a></span>
                              </div>
                          </div>
                    </div>


                    <div class="col-4">
                        <div class="card de-card borderbox fs-sm">
                            <div class="card-body mx-1">
                                <span class="card-title text-primary"><a href="social-and-economic-conditions/?id=103">Poverty</a></span>
                              </div>
                          </div>
                    </div>


                    <div class="col-4">
                        <div class="card de-card borderbox fs-sm">
                            <div class="card-body mx-1">
                                <span class="card-title text-primary"><a href="asthma/?id=2383">Child asthma</a></span>
                              </div>
                          </div>  
                    </div>

                    <div class="col-4">
                        <div class="card de-card borderbox fs-sm">
                            <div class="card-body mx-1">
                                <span class="card-title text-primary"><a href="weather-related-illness/?id=2411">Heat vulnerabilty</a></span>
                              </div>
                          </div>  
                    </div>


                    <div class="col-4">
                        <div class="card de-card borderbox fs-sm">
                            <div class="card-body mx-1">
                                <span class="card-title text-primary"><a href="violence/?id=2400">Violence</a></span>
                              </div>
                          </div>  
                    </div>

                    

                </div>

                <div class="row my-2">
                    <div class="col-12">
                        <p><strong class="text-dark"><i class="far fa-question-circle mr-1"></i>What's inside:</strong>
                        </p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-4 mx-0">
                        <div class="card de-card mb-2 borderbox">
                            <div class="card-body">
                                <span class="card-title text-dark"><em>Get trends...</em></span>
                              </div>
                            <img class="card-img-top" src="/images/trend-chart.png" alt="Card image cap">
                          </div>
                    </div>

                    <div class="col-4 mx-0">
                        <div class="card de-card mb-2 borderbox">
                            <div class="card-body" style="text-align: center">
                                <span class="card-title text-prdarkimary" ><em>...maps...</em></span>
                              </div>
                            <img class="card-img-top" src="/images/data-map.png" alt="Card image cap">
            
                          </div>
                    </div>

                    <div class="col-4 mx-0">
                        <div class="card de-card borderbox">
                            <div class="card-body" style="text-align: right">
                                <span class="card-title text-dark"><em>...and more!</em></span>
                              </div>
                            <img class="card-img-top" src="/images/links-chart.png" alt="Card image cap">
                          </div>
                    </div>

                </div>

                <div class="row my-2 border-top">
                    <div class="col">
                        <p class="fs-sm mt-2"><i class="fas fa-exclamation-circle mr-1"></i><em>Can't find what you're looking for?</em> 
                            {{ with .Site.GetPage "content/data-explorer/all-data.md" }}
                            <a href="{{ .Permalink }}">Browse an index of all our datasets</a>.
                            {{ end }}
                            </p>
                    </div>
                </div>



            </div>


        </div>





    </div>

    </div>




    <style>

        .borderbox {
            box-shadow: 2px 5px 3px #bebebe; 
            border: 1px solid #bebebe; 
            border-radius: 5px;}
    </style>



</article>


{{ $js := resources.Get "js/accessible-autocomplete.min.js" }}
{{ $secureJS := $js }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ $js := resources.Get "js/accessible-autocomplete.min.js.map" }}


<script type="text/javascript"> 



    // https://www.aspsnippets.com/Articles/Populate-DropDownList-from-JSON-Array-using-JavaScript.aspx
    function populateDropDownList() {          
           var ddlData = document.getElementById("all-data");
          {{ range .Pages }} // range through data-explorer pages
            var option = document.createElement("OPTION");
            //Set Neighborhood Name in Text part.
            option.innerHTML = {{ .Title}}
            // set the option value - this adds the environment variable to give it the base URL.
            option.value = '{{ .Permalink }}'
            //Add the Option element to DropDownList.
            ddlData.options.add(option);
          {{ end}}
       };

       populateDropDownList(); // runs the function above.

       // this handles AA highlighting.
       var selectEl = document.querySelector('#all-data')
        accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        confirmOnBlur: true,
        defaultValue: "",
        minLength: 2,
        selectElement: selectEl
            });


    // this takes the AA form and on submit, sends page to a new location.
    var dataSearchForm = document.getElementById('all-data-select') // this isn't all-data, but all-data-select because of changes applied by the AA JS.
    document.querySelector('form.autocomplete-form').addEventListener("submit", function (e) {
        e.preventDefault(); // prevent page re-load
        window.location.assign(dataSearchForm.options[dataSearchForm.selectedIndex].value)
      });
   </script>

{{end}}